## Sintaxis básica

### Python como una calculadora

In [1]:
2+5 #suma

7

In [2]:
5-7 # resta

-2

In [3]:
5 * 3 # multiplicacion

15

In [4]:
8 / 3 # division flotante (la division clasica siempre devuelve un numero flotante)

2.6666666666666665

In [5]:
8.0 // 3 # division entera

2.0

In [6]:
3 ** 2 # exponenciacion

9

In [7]:
11 % 4 # modulo (resto de la division entera)

3

In [8]:
5 - 2 * 3 # operacions encadenadas

-1

In [9]:
(5 - 2) * 3 # orden de las operaciones

9

### Variables y tipos de datos

In [10]:
x = 5 # asigna el valor 5 a la variable de nombre x

In [11]:
type(x) # devuelve el tipo de variable x

int

In [12]:
y = 2.3 # asignacion de una nueva variable

In [13]:
z = x + y # asigna a la variable z el valor da la suma de una expresión

print(z)

type(z)

7.3

float

In [14]:
ancho = 20
alto = 5 * 9
ancho * alto

900

In [15]:
#Cuando realizas operaciones con un numero entero y un flotante
#Python convierte el numero entero automaticamente en flotante
4 * 3.75 - 1

14.0

In [16]:
cadena = "Hola a todos" # asigna a la variable con el nombre cadena una cadena de caracteres

In [17]:
type(cadena) # devuelve el tipo string (cadena de caracteres)

str

In [18]:
print(cadena+'chicos y chicas') #se pueden encadenar cadenas

Hola a todoschicos y chicas

In [19]:
c = 4 + 2j # asigna a la variable c un numero complejo (ojo!: 1+1j, no vale 1+j)

type(c)

complex

In [20]:
b = True # asignar a la variable con nombre b un booleano

type(b)

bool

In [21]:
c2 = 3 - 4j

In [22]:
c + c2 # suma de numeros complejos

(7-2j)

In [23]:
c * c2 # multiplicacion de numeros complejos

(20-10j)

In [24]:
a, b, c = 5, False, "Hola" # asignaciones multiples

print(a)

print(b)

print(c)

5
False
Hola

### Funciones básicas

In [28]:
# La funcion print nos permite imprimir en pantalla cualquier resultado que queramos
s = 'First line.\nSecond line.'

print(s)

First line.
Second line.

In [29]:
print('C:\some\name')  # \n significa una nueva linea (salto de carro)

print(r'C:\some\name')  # la r delante del string sirve para introducir raw strings para que no tome
#characteres especiales como \n como tal

C:\some
ame
C:\some\name

In [30]:
x = -3.4
abs(x) # valor absoluto

3.4

In [31]:
y = int(x) # convierte x a un numero entero
print(y)
type(y)

-3

int

In [32]:
float(y) # convierte x a un numero flotante

-3.0

In [33]:
c = 4 - 3j # numero complejo
abs(c) # valor absoluto

5.0

### Funciones matematicas (hay que importar el modulo math de la biblioteca estándar de Python)

In [34]:
from math import * # desde el modulo math importamod (* = todo)
#Este modulo de Python es una adaptacion del modulo de C
# podeis encontrar todad las funciones que estan implementadas en el siguiente enlance
#https://docs.python.org/3/library/math.html#module-math

In [35]:
pi

3.141592653589793

In [36]:
e

2.718281828459045

In [37]:
sin(pi/2)

1.0

In [38]:
sqrt(3) # raiz cuadrada de 3

1.7320508075688772

In [39]:
log(e) # logaritmo neperiano

1.0

In [40]:
exp(2) # funcion exponencial -- e^2

7.38905609893065

In [41]:
round(exp(2), 2)

7.39

In [42]:
string = 'cerezas'
numero = 2.69869

print('Las %s valen %.2f euros' %(string, numero))

Las cerezas valen 2.70 euros

In [43]:
import math as m #el modulo math se comporta como una instancia

In [44]:
m.pi

3.141592653589793

### Manipulación de listas

In [55]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9] # definicion lista x, vector de asignacion dinamica
n = len(x) # numero de elementos de x
print(n)

9

In [56]:
print(x[0]) #accedo al primer elemento del vector

1

In [61]:
print(x[-1]) #accedo al ultimo elemento del vector

9

In [58]:
x[3] = 20 # modificacion del cuarto elemento
print(x)

[1, 2, 3, 20, 5, 6, 7, 8, 9]

In [49]:
x[3:5] # acceso a un subrango de elementos del vector x

[20, 5]

In [50]:
x[0:n:2] # elementos no contiguos separados 2 posiciones

[1, 3, 5, 7, 9]

In [51]:
x[4:]  # acceso desde el quinto elemento hasta el final

[5, 6, 7, 8, 9]

In [52]:
x[:2] # acceso desde el primer elemento hasta la posicion 2

[1, 2]

In [62]:
x[4:7] = [] # borro elementos 4:7 en la lista

In [63]:
x[2:3] = [1,2,3,4,5] # modifico a lista

### Metodos sobre listas

In [64]:
x = [2, 4, 1, 8, 2] # defino lista x

In [65]:
x.insert(3, 10) # inserto 10 en la cuarta posicion
print(x)

[2, 4, 1, 10, 8, 2]

In [66]:
sum(x)

27

In [67]:
x.append(5) # añado 5 al final de la lista
print(x)

[2, 4, 1, 10, 8, 2, 5]

In [68]:
x.reverse() # invierte el orden de la lista
print(x)

[5, 2, 8, 10, 1, 4, 2]

In [69]:
x.sort() # ordena la lista
print(x)

[1, 2, 2, 4, 5, 8, 10]

In [70]:
x.count(2) # cuenta cuantos 2 hay en la lista

2

In [71]:
x.remove(8) # elimina la primera ocurrencia de 8 en la lista
print(x)

[1, 2, 2, 4, 5, 10]

In [72]:
x.index(5) # devuelve a posicion do elemento 5 en x

4

In [73]:
del x[4] # elimina el elemento de la quinta posicion en la lista x
print(x)

[1, 2, 2, 4, 10]

### Tuplas

In [74]:
a = (1,2,3,4,5) # definicion dunha tupla
type(a)

tuple

In [75]:
len(a) # numero de elementos

5

In [76]:
a[1:3] # acceso a una subsecuencia da tupla

(2, 3)

In [77]:
# a[1] = 10 # da error, las tuplas no se pueden modificar!